In [1]:
!pip install pandas numpy matplotlib seaborn

Requirement already satisfied: pandas in c:\users\luke holmes\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: numpy in c:\users\luke holmes\anaconda3\lib\site-packages (1.24.3)
Requirement already satisfied: matplotlib in c:\users\luke holmes\anaconda3\lib\site-packages (3.7.1)
Requirement already satisfied: seaborn in c:\users\luke holmes\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\luke holmes\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\luke holmes\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\luke holmes\anaconda3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\luke holmes\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\luke holmes\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\luke holmes\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\luke holmes\anaconda3\lib\site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\luke holmes\anaconda3\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\luke holmes\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\luke holmes\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

In [5]:
file_path = 'Employee_Attrition.csv'
data = pd.read_csv(file_path)

In [6]:
print(data.head())

         Age Attrition     BusinessTravel    DailyRate              Department  DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel                JobRole  JobSatisfaction MaritalStatus  MonthlyIncome   MonthlyRate  NumCompaniesWorked Over18 OverTime  PercentSalaryHike  PerformanceRating  RelationshipSatisfaction  StandardHours  StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0  41.920786       Yes      Travel_Rarely   990.110009                   Sales          1.016716   1.770313  Life Sciences       1.033298        1.054148                 2.146294    Male   93.827486        3.426960  2.464492        Sales Executive         3.397665        Single    6438.949336  20845.103714            7.077818      Y      Yes           9.898765           2.844897                  1.012832      95.612654          0.000000           8.063833               0.000000         1.052104        5.795945            3.993896                 0.000000              4.594972
1  51.589037        No  Travel_Frequently   276.776030  Research & Development               NaN   1.035333  Life Sciences       0.944859        2.107031                 3.470803    Male   52.304157        1.813458  1.788697     Research Scientist         1.584059       Married    4457.659622  24877.898697            1.114423      Y       No                NaN           4.120281                  4.312008      85.370868          1.104642           8.965059               3.264952         2.526470       10.070232            7.937505                 1.032295              5.901207
2  33.131540       Yes      Travel_Rarely  1204.158501  Research & Development          2.198662   2.118801          Other       0.810809        4.008125                 3.979420    Male   87.271332        1.877226  0.833488  Laboratory Technician         3.301009        Single    2124.545220   2262.942954            5.539591      Y      Yes          15.401596           2.781168                  2.332558      76.248084          0.000000           8.427238               3.004521         2.924784        0.000000            0.000000                 0.000000              0.000000
3  34.707073        No  Travel_Frequently  1352.752432                   Sales          2.937851   3.670674  Life Sciences       0.822976        4.587269                 3.734705  Female   56.378982        2.932646  1.095372     Research Scientist         3.220844       Married    2771.699080  27189.905714            0.772793    NaN      Yes           9.757546           2.769576                  3.029591      75.888697          0.000000           7.662606               2.856001         3.117053        8.435324            5.563667                 2.845429              0.000000
4  24.790188        No      Travel_Rarely   485.053333  Research & Development          1.988953   1.120496        Medical            NaN        7.228740                 1.079412    Male   40.433887        3.117739  0.937746  Laboratory Technician         1.697330       Married    3254.601575  17675.541599           10.118125    NaN      NaN          11.920147           3.282183                       NaN      72.670937          0.953012           6.241733               2.814719         3.112317        2.040124            1.970786                 2.495949              2.219353

In [7]:
print("\nBasic Descriptive Statistics:")
print(data.describe())

Basic Descriptive Statistics:
               Age    DailyRate  DistanceFromHome    Education  EmployeeCount  EmployeeNumber  EnvironmentSatisfaction   HourlyRate  JobInvolvement     JobLevel  JobSatisfaction  MonthlyIncome   MonthlyRate  NumCompaniesWorked  PercentSalaryHike  PerformanceRating  RelationshipSatisfaction  StandardHours  StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
count  1323.000000  1323.000000       1323.000000  1323.000000    1323.000000     1323.000000              1323.000000  1323.000000     1323.000000  1323.000000      1323.000000    1323.000000   1323.000000         1323.000000        1323.000000        1323.000000               1323.000000    1323.000000       1323.000000        1323.000000            1323.000000      1323.000000     1323.000000         1323.000000              1323.000000           1323.000000
mean     36.635268   802.030050          9.091097     2.923447       0.999325     1026.679166                 2.726443    65.647722        2.743028     2.058270         2.715272    6544.718401  14364.334764            2.654394          15.295717           3.149344                  2.720431      80.241313          0.814757          11.426152               2.811756         2.762825        6.933624            4.233363                 2.160710              4.117695
std       9.882161   414.031025          8.177870     1.072203       0.099656      610.480802                 1.129679    21.469709        0.765568     1.127018         1.146786    4766.580903   7269.420895            2.508952           3.995702           0.476027                  1.115959       8.022535          0.863076           8.075870               1.329044         0.761802        6.046798            3.658111                 3.221481              3.594053
min      14.544608    86.828045          0.750112     0.770362       0.628985        1.054148                 0.759655    23.855272        0.722008     0.715172         0.724192     891.481007   1567.502382            0.000000           7.684723           2.116951                  0.720696      53.793059          0.000000           0.000000               0.000000         0.799138        0.000000            0.000000                 0.000000              0.000000
25%      29.624982   456.479553          2.147069     2.122706       0.931146      501.854842                 1.894818    47.701897        2.177638     1.045228         1.846039    2961.844066   8138.576694            0.948843          12.195197           2.845502                  1.909010      74.882946          0.000000           5.953221               1.967328         2.193390        2.673269            1.824392                 0.000000              1.687177
50%      34.951950   782.958705          6.920808     3.015658       0.998949     1022.025017                 2.887313    64.934490        2.859143     1.936150         2.895032    4957.070475  14258.293365            1.708812          14.495151           3.064551                  2.891235      80.351400          0.913651           9.306742               2.690934         2.899807        5.422160            2.968874                 0.967140              2.939240
75%      42.748741  1130.577949         13.584900     3.700560       1.067371     1533.811096                 3.676600    83.038355        3.179128     2.609707         3.676663    8268.002496  20322.279885            3.959710          17.745736           3.335525                  3.639961      85.664169          1.082523          15.324548               3.366949         3.206117        9.238005            7.052591                 2.586631              6.987964
max      69.402515  1784.394456         33.684424     6.285161       1.290613     2530.919375                 5.254672   123.200439        5.241968     5.942269         5.251277   22858.020388  32751.715800           10.855733          29.797261           5.013371                  5.092280     107.378705          3.474319          47.641892               7.503201         4.856086       36.848408           19.091844                17.273662             19.976003

In [8]:
print(data.head().T)

                                        0                       1                       2                   3                       4
Age                             41.920786               51.589037                33.13154           34.707073               24.790188
Attrition                             Yes                      No                     Yes                  No                      No
BusinessTravel              Travel_Rarely       Travel_Frequently           Travel_Rarely   Travel_Frequently           Travel_Rarely
DailyRate                      990.110009               276.77603             1204.158501         1352.752432              485.053333
Department                          Sales  Research & Development  Research & Development               Sales  Research & Development
DistanceFromHome                 1.016716                     NaN                2.198662            2.937851                1.988953
Education                        1.770313                1.035333                2.118801            3.670674                1.120496
EducationField              Life Sciences           Life Sciences                   Other       Life Sciences                 Medical
EmployeeCount                    1.033298                0.944859                0.810809            0.822976                     NaN
EmployeeNumber                   1.054148                2.107031                4.008125            4.587269                 7.22874
EnvironmentSatisfaction          2.146294                3.470803                 3.97942            3.734705                1.079412
Gender                               Male                    Male                    Male              Female                    Male
HourlyRate                      93.827486               52.304157               87.271332           56.378982               40.433887
JobInvolvement                    3.42696                1.813458                1.877226            2.932646                3.117739
JobLevel                         2.464492                1.788697                0.833488            1.095372                0.937746
JobRole                   Sales Executive      Research Scientist   Laboratory Technician  Research Scientist   Laboratory Technician
JobSatisfaction                  3.397665                1.584059                3.301009            3.220844                 1.69733
MaritalStatus                      Single                 Married                  Single             Married                 Married
MonthlyIncome                 6438.949336             4457.659622              2124.54522          2771.69908             3254.601575
MonthlyRate                  20845.103714            24877.898697             2262.942954        27189.905714            17675.541599
NumCompaniesWorked               7.077818                1.114423                5.539591            0.772793               10.118125
Over18                                  Y                       Y                       Y                 NaN                     NaN
OverTime                              Yes                      No                     Yes                 Yes                     NaN
PercentSalaryHike                9.898765                     NaN               15.401596            9.757546               11.920147
PerformanceRating                2.844897                4.120281                2.781168            2.769576                3.282183
RelationshipSatisfaction         1.012832                4.312008                2.332558            3.029591                     NaN
StandardHours                   95.612654               85.370868               76.248084           75.888697               72.670937
StockOptionLevel                      0.0                1.104642                     0.0                 0.0                0.953012
TotalWorkingYears                8.063833                8.965059                8.427238            7.662606                6.241733
TrainingTimesLastYear                 0.0                3.264952                3.004521            2.856001                2.814719
WorkLifeBalance                  1.052104                 2.52647                2.924784            3.117053                3.112317
YearsAtCompany                   5.795945               10.070232                     0.0            8.435324                2.040124
YearsInCurrentRole               3.993896                7.937505                     0.0            5.563667                1.970786
YearsSinceLastPromotion               0.0                1.032295                     0.0            2.845429                2.495949
YearsWithCurrManager             4.594972                5.901207                     0.0                 0.0                2.219353

In [9]:
from IPython.display import display
display(data.describe())

               Age    DailyRate  DistanceFromHome    Education  EmployeeCount  EmployeeNumber  EnvironmentSatisfaction   HourlyRate  JobInvolvement     JobLevel  JobSatisfaction  MonthlyIncome   MonthlyRate  NumCompaniesWorked  PercentSalaryHike  PerformanceRating  RelationshipSatisfaction  StandardHours  StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
count  1323.000000  1323.000000       1323.000000  1323.000000    1323.000000     1323.000000              1323.000000  1323.000000     1323.000000  1323.000000      1323.000000    1323.000000   1323.000000         1323.000000        1323.000000        1323.000000               1323.000000    1323.000000       1323.000000        1323.000000            1323.000000      1323.000000     1323.000000         1323.000000              1323.000000           1323.000000
mean     36.635268   802.030050          9.091097     2.923447       0.999325     1026.679166                 2.726443    65.647722        2.743028     2.058270         2.715272    6544.718401  14364.334764            2.654394          15.295717           3.149344                  2.720431      80.241313          0.814757          11.426152               2.811756         2.762825        6.933624            4.233363                 2.160710              4.117695
std       9.882161   414.031025          8.177870     1.072203       0.099656      610.480802                 1.129679    21.469709        0.765568     1.127018         1.146786    4766.580903   7269.420895            2.508952           3.995702           0.476027                  1.115959       8.022535          0.863076           8.075870               1.329044         0.761802        6.046798            3.658111                 3.221481              3.594053
min      14.544608    86.828045          0.750112     0.770362       0.628985        1.054148                 0.759655    23.855272        0.722008     0.715172         0.724192     891.481007   1567.502382            0.000000           7.684723           2.116951                  0.720696      53.793059          0.000000           0.000000               0.000000         0.799138        0.000000            0.000000                 0.000000              0.000000
25%      29.624982   456.479553          2.147069     2.122706       0.931146      501.854842                 1.894818    47.701897        2.177638     1.045228         1.846039    2961.844066   8138.576694            0.948843          12.195197           2.845502                  1.909010      74.882946          0.000000           5.953221               1.967328         2.193390        2.673269            1.824392                 0.000000              1.687177
50%      34.951950   782.958705          6.920808     3.015658       0.998949     1022.025017                 2.887313    64.934490        2.859143     1.936150         2.895032    4957.070475  14258.293365            1.708812          14.495151           3.064551                  2.891235      80.351400          0.913651           9.306742               2.690934         2.899807        5.422160            2.968874                 0.967140              2.939240
75%      42.748741  1130.577949         13.584900     3.700560       1.067371     1533.811096                 3.676600    83.038355        3.179128     2.609707         3.676663    8268.002496  20322.279885            3.959710          17.745736           3.335525                  3.639961      85.664169          1.082523          15.324548               3.366949         3.206117        9.238005            7.052591                 2.586631              6.987964
max      69.402515  1784.394456         33.684424     6.285161       1.290613     2530.919375                 5.254672   123.200439        5.241968     5.942269         5.251277   22858.020388  32751.715800           10.855733          29.797261           5.013371                  5.092280     107.378705          3.474319          47.641892               7.503201         4.856086       36.848408           19.091844                17.273662             19.976003

In [10]:
display(data.head())

         Age Attrition     BusinessTravel    DailyRate              Department  DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel                JobRole  JobSatisfaction MaritalStatus  MonthlyIncome   MonthlyRate  NumCompaniesWorked Over18 OverTime  PercentSalaryHike  PerformanceRating  RelationshipSatisfaction  StandardHours  StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0  41.920786       Yes      Travel_Rarely   990.110009                   Sales          1.016716   1.770313  Life Sciences       1.033298        1.054148                 2.146294    Male   93.827486        3.426960  2.464492        Sales Executive         3.397665        Single    6438.949336  20845.103714            7.077818      Y      Yes           9.898765           2.844897                  1.012832      95.612654          0.000000           8.063833               0.000000         1.052104        5.795945            3.993896                 0.000000              4.594972
1  51.589037        No  Travel_Frequently   276.776030  Research & Development               NaN   1.035333  Life Sciences       0.944859        2.107031                 3.470803    Male   52.304157        1.813458  1.788697     Research Scientist         1.584059       Married    4457.659622  24877.898697            1.114423      Y       No                NaN           4.120281                  4.312008      85.370868          1.104642           8.965059               3.264952         2.526470       10.070232            7.937505                 1.032295              5.901207
2  33.131540       Yes      Travel_Rarely  1204.158501  Research & Development          2.198662   2.118801          Other       0.810809        4.008125                 3.979420    Male   87.271332        1.877226  0.833488  Laboratory Technician         3.301009        Single    2124.545220   2262.942954            5.539591      Y      Yes          15.401596           2.781168                  2.332558      76.248084          0.000000           8.427238               3.004521         2.924784        0.000000            0.000000                 0.000000              0.000000
3  34.707073        No  Travel_Frequently  1352.752432                   Sales          2.937851   3.670674  Life Sciences       0.822976        4.587269                 3.734705  Female   56.378982        2.932646  1.095372     Research Scientist         3.220844       Married    2771.699080  27189.905714            0.772793    NaN      Yes           9.757546           2.769576                  3.029591      75.888697          0.000000           7.662606               2.856001         3.117053        8.435324            5.563667                 2.845429              0.000000
4  24.790188        No      Travel_Rarely   485.053333  Research & Development          1.988953   1.120496        Medical            NaN        7.228740                 1.079412    Male   40.433887        3.117739  0.937746  Laboratory Technician         1.697330       Married    3254.601575  17675.541599           10.118125    NaN      NaN          11.920147           3.282183                       NaN      72.670937          0.953012           6.241733               2.814719         3.112317        2.040124            1.970786                 2.495949              2.219353

In [11]:
print("\nMissing Values:")
print(data.isnull().sum())

Missing Values:
Age                         147
Attrition                   147
BusinessTravel              147
DailyRate                   147
Department                  147
DistanceFromHome            147
Education                   147
EducationField              147
EmployeeCount               147
EmployeeNumber              147
EnvironmentSatisfaction     147
Gender                      147
HourlyRate                  147
JobInvolvement              147
JobLevel                    147
JobRole                     147
JobSatisfaction             147
MaritalStatus               147
MonthlyIncome               147
MonthlyRate                 147
NumCompaniesWorked          147
Over18                      147
OverTime                    147
PercentSalaryHike           147
PerformanceRating           147
RelationshipSatisfaction    147
StandardHours               147
StockOptionLevel            147
TotalWorkingYears           147
TrainingTimesLastYear       147
WorkLifeBalance             147
YearsAtCompany              147
YearsInCurrentRole          147
YearsSinceLastPromotion     147
YearsWithCurrManager        147
dtype: int64

In [12]:
data.shape

(1470, 35)

In [13]:
data_cleaned = data.dropna()
print("New Data Shape:", data_cleaned.shape)

New Data Shape: (40, 35)

In [15]:
for col in data.select_dtypes(include=np.number).columns:
    data[col].fillna(data[col].mean(), inplace=True)

for col in data.select_dtypes(include='object').columns:
    data[col].fillna(data[col].mode()[0], inplace=True)

print("Data Shape after Imputation:", data.shape)

Data Shape after Imputation: (1470, 35)

In [16]:
print("Missing values after imputation:", data.isnull().sum().sum())

Missing values after imputation: 0